.userdetail-container {
  display: flex;
  flex-direction: column;
}

.ellipse {
  padding-top: 36px;
  padding-left: 67px;
  padding-bottom: 10px;
  width: 92px;
  height: 92px;
}

.name {
  padding-left: 44px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #242831;
}

.email {
  padding-left: 44px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #6b6b6b;
}

.past {
  padding-left: 53px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #242831;
}
.past-text {
  padding-left: 52px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #6b6b6b;
}
.upcoming {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #242831;
}
.upcoming-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #6b6b6b;
}

.past-container {
  display: flex;
  flex-direction: column;
}
.number-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 30px;
}
.divider {
  border: 1px solid #6b6b6b;
  height: 34px;
  opacity: 0.5;
  margin-left: 41px;
  margin-right: 25px;
}
.divider-container {
  display: flex;
}
.send-button {
  padding: 8px 69px;
  margin-left: 19px;
  font-family: "Source Serif 4";
  font-weight: 500;
  font-size: 14px;
  color: #242831;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
}
.file-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 24px;
  padding-top: 51px;
  padding-bottom: 29px;
  color: #242831;
}
.reports {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  background-color: #f9f9f9;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 8px;
  margin-left: 18px;
  color: #36393e;
}
.path {
  padding-left: 20px;
  padding-right: 16px;
}
